body{
    background-color: blueviolet;
}

h1{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 400; font-style: oblique;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500; font-style: initial;
}

h4{
    font-family: Georgia, 'Times New Roman', Times, serif; font-weight: 800; font-style: unset;
}

#camera {

    width: 550; height: 350;
    border: 6px solid white;
    padding: 4px;
    box-shadow: 8px;
    border-radius: 20px;
}

img:hover{

    border-radius: 150px;
}

img{
    box-shadow: 0 6px 8px 0 burlywood(2,2,2,0.2)
}